---
title: Home
layout: default
---

<div class=column>
        <div class=hi>
            <h1>Hi! My name is Daniel</h1>
            <p>I'm a Telematis Engineering student at King's Juan Carlos University.</p>
            <p></p>
        </div>
        <div class=sites-list>
            <ul>
                {% for social in site.social %}
                <li class={{ social.title }}>
                    <a href="{{ social.link }}" title="{{ social.alt }}">{{ social.description }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class=recent-blog-posts>
            <h2>Recent blog posts</h2>
            <p>I'll post here my recent creations</p>
            {% for post in site.posts limit:4 %}
            <a href="{{ post.url | prepend: site.baseurl }}"><h4 class=title>{{ post.title }}</h4></a>
            <p>{{ post.description }}</p>
            {% endfor %}
            <a href="{{ site.baseurl }}/blog" class=all>See all blog posts</a>
        </div>
</div>
