<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <title>Daniel Hervás Rodao · Student</title>
    <meta name="description" content="Here I'll post my recent creations">
    <meta name="author" content="Daniel Hervás Rodao">
    
    <!-- Open Graph -->
    <meta property="og:title" content="Daniel Hervás Rodao · Student">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 110 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}{{ site.logo }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property='og:type' {% if page %} content='article' {% else %} content="website" {% endif %}/>

    <!-- Feeds -->
    <link rel="alternate" title="{{ site.title }} (ATOM feed)" type="application/atom+xml" href="{{ "/feed.xml" | absolute_url }}">
    <link rel="alternate" title="{{ site.title }} (JSON feed)" type="application/json" href="{{ "/feed.json" | absolute_url }}">

    {% if page.title == 'Home' and site.google-site-verification %}
    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="{{ site.google-site-verification }}">
    
    {% endif %}
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=theme-color content=#c8463e>

    <!-- Fonts -->
    <link rel=preload crossorigin="anonymous" href="{{ "/assets/fonts/moniker/light.woff2" | prepend: site.baseurl }}" as=font type=font/woff2>

    <!-- Favicon -->
    <link rel="icon" href="{{ site.favicon | prepend: site.baseurl }}">
</head>
